<div id="background-image2">
  <br>
  <br>
  <br>
  <br>
  <br>

  <section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">

        <form action="/login" method="POST">
          <h1 class="title lettle-signup">Iniciar Sesion</h1>

          <label class="label mt-5">Correo</label>
          <input class="input is-warning has-text-light" type="email" name="email" placeholder="rockstar@ironhack.com" />

          <label class="label mt-5">Contraseña</label>
          <input class="input is-warning has-text-light" type="password" name="password" placeholder="********" />

          <div>
            <button class="custom-btn btn-index mt-5 is-size-6" type="submit">Conectarse</button>
          </div>

          <a href="/google" class="button">Sign in with Google</a>
          {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
          {{/if}}
        </form>

      </div>

      <div class="column is-6">
        <div class="card m-2 card-login">
          <div class="card-image">
            <figure class="image">
              <img src="/images/login00.jpg" alt="loginphoto">
            </figure>
          </div>
          <div class="card-content has-background-dark">
            <div class="content">
              <h1 class="has-text-light">Conectate a tu cuenta para ver,crear, editar rutinas y recetas de snacks</h1>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</div>


