<div class="has-background-grey-lighter">
  <section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">

  <form action="/login" method="POST">
    <h1 class="title">Login</h1>

    <label class="label">Email</label>
    <input class="input is-warning has-text-light" type="email" name="email" placeholder="rockstar@ironhack.com" />

    <label class="label">Password</label>
    <input class="input is-warning has-text-light" type="password" name="password" placeholder="********" />

    <div>
      <button class="button" type="submit">Login</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

      </div>
    </div>
  </div>
</section>

</div>