{{!-- views/auth/signup.hbs --}}

<div class="has-background-grey-lighter">
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="/signup" method="POST">
          <h2 class="title">Signup</h2>

          <label class="label"> Username</label>
          <input class="input is-warning has-text-light" type="text" name="username" placeholder="ironhacker" />

          <label class="label"> Email</label>
          <input class="input is-warning has-text-light" type="email" name="email" placeholder="rockstar@ironhack.com" />

          <label class="label">Password</label>
          <input class="input is-warning has-text-light" type="password" name="password" placeholder="********" />

          <div>
            <button class="button" type="submit">Create account</button>
          </div>

          {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
          {{/if}}

        </form>
      </div>
    </div>
  </div>
</section>
</div>


