<div id="background-image" class="p-0">
    <div class="container p-6">
      <div class="columns">
        <div class="column is-12">
          <div class="card">

            <div class="card-content has-background-grey-dark">
              <p class="is-size-1 has-text-centered has-text-white-ter p-2">Power Training</p>
              <p class="subtitle has-text-centered has-text-white-ter">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni deleniti excepturi, molestiae ratione, beatae veniam perspiciatis iure molestias voluptas fuga cum perferendis eius totam placeat a, consequatur mollitia facilis consequuntur!</p>
              <br>
              <p class="subtitle has-text-centered has-text-white-ter">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni deleniti excepturi, molestiae ratione, beatae veniam perspiciatis iure molestias voluptas fuga cum perferendis eius totam placeat a, consequatur mollitia facilis consequuntur!</p>
            </div>

            <footer class="card-footer has-background-white-ter">
              <div class="card-footer-item">
                <a class="button is-medium is-dark is-rounded" href="/exercise/exercise-list">Ver todas las rutinas</a>
              </div>
              <div class="card-footer-item">
                <a class="button is-medium is-dark is-rounded" href="/routines/routines">Conoce los Ejercicios</a>
              </div>
              <div class="card-footer-item">
                <a class="button is-medium is-dark is-rounded" href="/snacks/snacks-list">Todos los snacks</a>
              </div>
            </footer>

          </div>
        </div>
      </div>
    </div>
</div>
