
<div id="background-image" class="p-0">
  <br><br><br><br><br>

    <div class="carousel-wrapper">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <span id="item-3"></span>
    <div class="carousel-item item-1">
      <a href="#item-3" class="arrow-prev arrow"></a>
      <a href="#item-2" class="arrow-next arrow"></a>
    </div>
    
    <div class="carousel-item item-2">
      <a href="#item-1" class="arrow-prev arrow"></a>
      <a href="#item-3" class="arrow-next arrow"></a>
    </div>

    <div class="carousel-item item-3">
      <a href="#item-2" class="arrow-prev arrow"></a>
      <a href="#item-1" class="arrow-next arrow"></a>
    </div>
  </div>
  
  <div class="columns">
    <div class="column is-flex-direction-column has-text-centered is-12">
      <h1 class="title has-text-light">Power Training</h1>
      <p class="subtitle has-text-light">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="has-text-centered">
        <a class="button is-medium is-light is-rounded m-6" style="width:240px;" href="/exercise/exercise-list">Todas las rutinas</a>
        <a class="button is-medium is-light is-rounded m-6" style="width:240px;" href="/snacks/snacks-list">Todos los snacks</a>
    </div>
  </div>
  <div>

</div>

