<div id="background-image" class="p-0">
  <br><br><br><br><br>

    <div class="columns">
    <div class="column is-flex-direction-column has-text-centered is-12">
      <div>
        <img src="/images/titulo2.png" width="600" height="400">
      </div>
      <div class="container index-subtitle pb-5">
        <p class="is-size-4 has-text-dark has-text-weight-semibold index-parrafo ">
          Te invitamos a ser parte de nuestra comunidad Training, darte un tiempo para ti siempre es y será lo más importante. <br> <br> 
          No olvides, recomendarnos con tus cercanos para asi seguir con la red de motivación y llenar este espacio con gran contendido.
        </p>
      </div>
    </div>
  </div>  


    <div class="carousel-wrapper mt-0">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <span id="item-3"></span>
    <div class="carousel-item item-1">
      <a href="#item-3" class="arrow-prev arrow"></a>
      <a href="#item-2" class="arrow-next arrow"></a>
    </div>
    
    <div class="carousel-item item-2">
      <a href="#item-1" class="arrow-prev arrow"></a>
      <a href="#item-3" class="arrow-next arrow"></a>
    </div>

    <div class="carousel-item item-3">
      <a href="#item-2" class="arrow-prev arrow"></a>
      <a href="#item-1" class="arrow-next arrow"></a>
    </div>
  </div>
  
  

<div class="container">
    <div class="columns index-subtitle pb-5 ">
    <div class="column">
      <div class="card yellowBg">
        <div class="card-content">
          <div class="content is-flex-direction-column">
            <p class="title mb-1 has-text-dark has-text-weight-semibold has-text-centered">Rutina</p>
            <p class="has-text-centered is-size-5 is-italic">Rutinas cortas para no interferir con tus deberes del dia.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card yellowBg">
        <div class="card-content">
          <div class="content is-flex-direction-column">
            <p class="title mb-1 has-text-dark has-text-weight-semibold has-text-centered">Snack</p>
            <p class="has-text-centered is-size-5 is-italic">Snacks saludables para complementar las rutinas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card yellowBg">
        <div class="card-content">
          <div class="content is-flex-direction-column">
            <p class="title mb-1 has-text-dark has-text-weight-semibold has-text-centered">Blog</p>
            <p class="has-text-centered is-size-5 is-italic">Un blog donde puedes dejar tu comentario para otros usuarios.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <div class="container">
    <div class="has-text-centered">
        <a class="custom-btn btn-index m-5 is-size-5" style="width:240px;" href="/exercise/exercise-list">Conoce las Rutinas</a>
        <a class="custom-btn btn-index m-5 is-size-5" style="width:240px;" href="/snacks/snacks-list">Conoce los Snacks</a>

    </div>
  </div>
  <div>

</div>