<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="p-0">

      <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-item">
            <a href="/"><img src="/images/logo.png" alt="logo" style="max-height:60px" class="py-2 px-2"></a>
          </div>
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
         {{#if userInSession}} 
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            <a href="/routines/routines" class="navbar-item">
              <span class="is-size-6 yellow">Conoce los Ejercicios</span>
            </a>
            <a href="/login" class="navbar-item">
              <span class="is-size-7 yellow">Blog</span>
            </a>
              <a href="/logout" class="navbar-item">
              <span class="is-size-7 yellow">Logout</span>
            </a>
          </div>

          {{else}}
           <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            <a href="/routines/routines" class="navbar-item">
              <span class="is-size-6 yellow">Conoce los Ejercicios</span>
            </a>
             <a href="/signup" class="navbar-item">
              <span class="is-size-6 yellow">Signup</span>
            </a>
            <a href="/login" class="navbar-item">
            <img src="../images/login.jpg.png"src="" alt="">
              <span class="is-size-6 yellow"> Login</span> 
            
            </a>
           
          </div>
          {{/if}}
        </div>
      </nav>
    {{{body}}}
<footer class="footer p-3 has-background-dark">
  <div class="content has-text-centered">
    <p class="is-size-6 has-text-light"> 💻
      <strong class="has-text-light">Power Training</strong> 
      by <span class="yellow is-italic">Azdhy Galvan</span> 
      and <span class="yellow is-italic">Vale Quiroga</span> 💻
    </p>
    <div>
      <p class="has-text-light">Visita nuestras redes sociales</p>
      <div>
        <a class="mr-4" href="https://www.facebook.com/theironhack/">
          <img src="/images/face.png" alt="facebook logo" width="30" height="30">
        </a>
        <a href="https://twitter.com/ironhack">
          <img src="/images/twitter.png" alt="twitter logo" width="30" height="30">
        </a>
        <a class="ml-4" href="https://www.instagram.com/ironhack/">
          <img src="/images/instagram.png" alt="instagram logo" width="30" height="30">
        </a>

      </div>
    </div>
  </div>
</footer>
    <script src="/js/script.js"></script>
  </body>

</html>

{{!-- 

{{!-- 
              <div class="card-footer-item">
                <a class="button is-medium is-dark is-rounded" href="/routines/routines">Conoce los Ejercicios</a>
              </div>
 --}}

 --}}