/* #FEE101    <---- color del logo*/
/* #F0C200    <---- amarillo del wallpaper */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#background-image{
  background-image: url('../images/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.yellow{
  color: #FEE101;
}

.yellowBg{
  background-color: #FEE101;
}



.form-snack-create{
  text-align: left;
  padding-left: 350px;
  width: 950px;
  
 
}

.pd-btn{
  padding-left: 200px;
  padding-top: 10px;
}

/*PROBLEMAS CON OPACIDAD */
.anext{
  width: 300px;
  height: 300px;
}

.cardpie{
  
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;

 
}

.size-noti{
  width: 400px;
  height: 420px;
}

