/* #FEE101    <---- color del logo*/
/* #F0C200    <---- amarillo del wallpaper */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#background-image{
  background-image: url('../images/gray.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


#background-image2{
  height: 100%;
}

#background-image2{
  background-image: url('../images/wallpaper2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow{
  color: #FEE101;
}

.yellowBg{
  background-color: #FEE101;
}



.form-snack-create{
  text-align: left;
  padding-left: 350px;
  width: 950px;
}

.pd-btn{
  padding-left: 200px;
  padding-top: 10px;
}

/*PROBLEMAS CON OPACIDAD */
.anext{
  width: 300px;
  height: 300px;
}

.cardpie{
  
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.size-noti{
  width: 400px;
  height: 420px;
}

.snack-edit{
  width: 960px;
  padding-left: 400px;
}

.snack-edit-btn{
  text-align: center;
}
.create-exercise{
  width: 560px;
  padding-left: 20px;
  padding-top: 50px;
  
}

.img-snack{
  width: 320px;
  height: 200px;
  border-radius: 10px;
}


.column{
  display: flex;
}

/* Por Checar ! ! ! ! */

.input{
  background-color: #363636;
  color: #fff;
}

.textarea{
  background-color: #363636;
  color: white;
}

.table-exercise{
padding-left: 120px;
}

.placeholder {
  color: white;
}
.input::placeholder {
  color: #fff;
  opacity: 0.3;
}
.textarea::placeholder {
  color: #fff;
  opacity: 0.3;
}

.center-edit-routine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-edit-routine{
padding-bottom: 100px;
}

.img1:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px black;
  -webkit-box-shadow: 0px 0px 15px 15px yellow;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  filter: opacity(.5);
  }


  .fondo-new-comment{
    background-image: url("/images/fondo-blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .img-profile-pic{
    border-radius: 10px;
  }

  .img-exercise{
width: 300px;
height: 200px;
border-radius: 10px;
  }

  .img-profile-layout{

    border-radius: 100px;
  }

  .edit-profile{
    width: 600px;
    height: 200px;
    
  }
/* AQUI SE PUEDE MODIFICAR EL TAMAÑO DE LAS IMAGENES EN EL CARRUSEL*/
.carousel-wrapper {
  height: 500px;
  position: relative;
  width: 750px;
  display: block;
  margin: 50px auto ;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid rgb(255, 228, 78);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../images/index1.png");
  background-size: cover;
  border-radius: 20px;
}
.item-2 {
  background: url("../images/index2.png");
  background-size: cover;
  border-radius: 10px;
}
.item-3 {
  background: url("../images/index3.png");
  background-size: cover;
  border-radius: 10px;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-exercise{
  padding-top: 200px;
  
}
.img-exercise img{
  width: 800px;
  height: 400px;
}

.edit-profile{
  padding-left: 400px;
}
