{{#if userInSession}}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
          <form action="/routines/create-routine" method="post" enctype="multipart/form-data">
            <h1 class="is-size-2 has-text-weight-bold has-text-centered is-italic">Crea una nueva rutina</h1>
            <label class="label" >Titulo</label>
            <input class="input is-warning has-text-light" type="text" name="title" placeholder="titulo de la rutina">

            <label class="label">Dificultad</label>
            <input class="input is-warning has-text-light" type="text" name="difficulty">

            <label class="label">Beneficios</label>
            <textarea class="textarea is-warning has-text-light" name="description" cols="30" rows="5"></textarea>

            <label class="label">Imagen</label>
            <input class="input is-warning has-text-light" type="file" name="routine-image">

            <br>

            <button class="button is-focused yellow is-warning" type="submit">Guardar</button>
          </form>
      </div>
    </div>
  </div>
</section>
{{else}}
<div class="p-6 m-6 has-text-centered">
<img src="/images/else-new-exercise.jpg" width="800" height="800">
</div>
{{/if}}
  
