<h1>Lista de Rutinas</h1>

{{#each routine}}
  <div>
    <div>
      <img src="{{imageUrl}}">
    </div>
    <h1>Titulo : {{title}}</h1>
    <h3>Duracion: {{duration}}</h3>
    <p>Descripcion: {{description}}</p>
  </div>
{{/each}}