<nav class="navbar is-dark">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/"><img src="../images/logo.png" alt="logo" style="max-height:60px" class="py-2 px-2"></a>
    </div>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a href="https://www.trainingaroundtheworld.com/blog/como-encontrar-la-motivacion-para-hacer-ejercicio" class="navbar-item">
        <span class="is-size-5 yellow">*</span>
      </a>
      <a href="/login" class="navbar-item">
        <span class="is-size-5 yellow">*</span>
      </a>
    </div>
  </div>
</nav>
<div class="p-3 background-snacks-create">
<h1 ><img src="/images/nuevo snack.png" width="250" height="100"></h1>


<form class="form-screate " action="/snacks/snacks-create" method="post" enctype="multipart/form-data" >

<div class="form-snack-create ">
<div class="p-3  ">
<div class="file  as-name is-fullwidth">
<label class="file-label" >
<input class="file-input" type="file" name="snack-image">
<span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Elije un documento 
      </span>
    </span>
    <span class="file-name">
     image
    </span>
    </label>
</div>
<br>
<label class="label" for="">Nombre:</label>
<input   class="input " type="text" name="name" placeholder="nombre">
<br>
<label class="label" for="">Reseña:</label>
<input  class="input" type="text" name="resena" placeholder="reseña">
<br>
<label class="label" for="">Ingredientes:
<input  class="input" type="text" name="ingredients"  placeholder="1.-" >
<input  class="input" type="text" name="ingredients"  placeholder="2.-" >
<input  class="input" type="text" name="ingredients"  placeholder="3.-" >
<input  class="input" type="text" name="ingredients"  placeholder="5.-">
<input  class="input" type="text" name="ingredients"  placeholder="6.-">
<input  class="input" type="text" name="ingredients"  placeholder="7.-">
<input  class="input" type="text" name="ingredients"  placeholder="8.-" >


</label>
<br>
<label class="label" for="">Instrucciones:</label>
<input  class="input" type="text" name="instructions" placeholder="1.-" >
<input  class="input" type="text" name="instructions" placeholder="2.-" >
<input  class="input" type="text" name="instructions" placeholder="3.-" >
<input  class="input" type="text" name="instructions" placeholder="4.-" >
<input  class="input" type="text" name="instructions" placeholder="5.-" >
<input  class="input" type="text" name="instructions" placeholder="6.-" >
<input  class="input" type="text" name="instructions" placeholder="7.-" >

<br>
<label class="label" for="">Información Nutricional:</label>
<input  class="input" type="number" name="nutritionFacts" placeholder="calorias" min="1">
<br>
<label class="label" for="">Tiempo de preparación:</label>
<input  class="input" type="number" name="prepTime" placeholder="min"  min="1" max="60">
<br>
<label  class="label" for="">Tiempo de cocción:</label>
<input  class="input" type="number" name="cooktime" placeholder="min"  min="0" max="60">
<br>
<label class="label" for="">Rinde para:</label>
<input class="input" type="number" name="yiel" placeholder="porciones"  min="1" max="15">



<div class="pd-btn">
<button class="button is-responsive is-rounded  is-black is-focused " type="submit">Guardar</button>
</div>


</div>

</div>

</form>

</div>

<div class="pb-4">
<div class="tile is-parent cardpie">
        <div class="p-4">
        <article class="tile is-child notification is-primary size-noti p-3 has-background-grey-dark">
          <p><a href="/images/info-nutri.jpg"> <img src="/images/info-nutri.jpg" ></a></p> <br>
          <p class="is-size-5">¿Qué nos dice una etiqueta nutricional?</p><br><br>
</article>
</div>
<div class="p-4">
 <article class="tile is-child notification is-primary size-noti p-3 has-background-grey-darker">
  <p><a href="/images/calorias.jpg"> <img src="/images/calorias.jpg" ></a></p> <br>
          <p class="is-size-5">¿Qué son las calorías?</p><br>
         
</article>
</div>
<div class="p-4" >
 <article class="tile is-child notification is-primary size-noti p-3 has-background-grey-dark">
      <p><a href="/images/etiquetado.jpg"> <img src="/images/etiquetado.jpg"   ></a></p> <br>
          <p class="is-size-5">¿Por que los sellos de "EXCESO.."?</p><br
</article>
</div>
      </div>
      
</div>

<footer class=" footer has-background-grey-lighter pt-4 pb-4">
   <div class="content has-text-right">
    <p  > 
      <img src="/images/social-media.png" width="80" height="80"><br><br>
       <img src="/images/social-media2.png" width="80" height="80">
    </p>
  </div>
  <div class="content has-text-centered ">
    <p  class="pb-5">
      <strong>Power Training</strong> by Azdhy Galvan and Valentin Quiroga
    </p>
  </div>
  
</footer>


