
<div class="pt-6 mt-6 fondo-new-comment">
<h1>Nuestro Blog </h1>

<div class="p-6">
{{#each comments}}
<label>Comentarios</label>
<p>{{comment}}</p>

{{/each}}

<button><a href="/blog/create-comment">Dejanos tu comentario</a></button>
</div>
</div>