
<div class="fondo-new-comment">
<div class="pt-6 mt-6 ">
<form class="form" action="/blog/create-comment" method="post">

<div class="p-6">
<textarea class="textarea" name="comment" id="" cols="10" rows="10" placeholder="Dejanos tu comentario"></textarea>
</div>


<div class="has-text-centered pb-4">
<button class="button is-focused is-warning yellowBg " type="submit">Guardar</button>
</div>


</form>
</div>
</div>