{{#if userInSession}}
    <h2>Bienvenido, {{ userInSession.username }}!</h2>
    <p>Este es tu perfil</p>
    <button>
        <a href="/userProfile">Recargar la pagina</a>
    </button>

    <a href="/routines/create-routine">Model ejercicios</a>
    <a href="/snacks/snacks-create">Crear Snacks</a>
    <a href="/snacks/snacks-list">Lista de Snacks</a>
    <a href="/exercise/exercise-list">Lista de rutinas</a>
    <a href="/exercise/exercise-create">Crear una rutina</a>

{{!-- Abcdef123 --}}
{{!-- agregar los botones de nueva rutina y nuevo snack --}}
{{else}}
    <p>Todavia no estas conectado!, Lo siento</p>
{{/if}}