<br>
<br>
<br>
<br>
{{#if userInSession}}
<section class="section has-background-white-ter">
    <div class="container">
        <div class="has-text-centered">
          <img src="{{userInSession.profile_pic}}" width="100" height="100" alt="" srcset="">
          <h2 class="title has-text-centered mb-0">
            Hola <span class="yellow">{{userInSession.username}}</span> :)
          </h2>
          <p class="subtitle mt-1">Bienvenido a tu perfil</p>
          <a class="button is-small is-danger mb-5" href="/edit-user">Editar foto</a>
        </div>

        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/snacks01.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Lista de Snacks</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/snacks/snacks-list">Lista de Snacks</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/snacks02.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Crear un Snack</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/snacks/create-snacks">Crear Snacks</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/ejercicio00.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Lista de Rutinas</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/exercise/exercise-list">Lista de rutinas</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/ejercicio01.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Crear una Rutina</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/exercise/create-exercise">Crear una rutina</a>
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>
</section>


<footer class="footer p-3 has-background-dark">
  <div class="content has-text-centered">
    <p class="is-size-6 has-text-light"> 💻
      <strong class="has-text-light">Power Training</strong> 
      by <span class="yellow is-italic">Azdhy Galvan</span> 
      and <span class="yellow is-italic">Vale Quiroga</span> 💻
    </p>
    <div>
      <p class="has-text-light">Visita nuestras redes sociales</p>
      <div>
        <a class="mr-4" href="https://www.facebook.com/theironhack/">
          <img src="/images/face.png" alt="facebook logo" width="30" height="30">
        </a>
        <a href="https://twitter.com/ironhack">
          <img src="/images/twitter.png" alt="twitter logo" width="30" height="30">
        </a>
        <a class="ml-4" href="https://www.instagram.com/ironhack/">
          <img src="/images/instagram.png" alt="instagram logo" width="30" height="30">
        </a>

      </div>
    </div>
  </div>
</footer>

{{!-- Abcdef123 --}}
{{!-- agregar los botones de nueva rutina y nuevo snack --}}
{{else}}
    <p>Todavia no estas conectado!, Lo siento</p>
{{/if}}
