<section class="section p-6 m-6">
    <div class="container">
        
        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/snacks01.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Gluteo</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/snacks/snacks-list">Rutinas para gluteo</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/snacks02.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Pierna</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/snacks/create-snacks">Rutinas para piernas</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/ejercicio00.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Brazos</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/exercise/exercise-list">Rutinas para brazos</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/images/ejercicio01.jpg" alt="snacks">
                </figure>
              </div>
              <div class="card-content">
                <h1 class="subtitle has-text-centered">Full body</h1>
                <div class="has-text-centered">
                  <a class="button is-dark" href="/exercise/create-exercise">Rutina full body </a>
                </div>
              </div>
            </div>
          </div>


        </div>

    </div>
</section>