<h1>Nueva rutina</h1>


<form action="/exercise/exercise-create" method="post" enctype="multipart/form-data">

<label for="">Ilustracion</label>
<input type="file" name="exercise-image">

<label for="">Ejercicio</label>
<input type="text" name="exercise" >

<label for="">Series</label>
<input type="number" name="series" >

<label for="">Repeticiones</label>
<input type="number" name="repetitions" >

<label for="">Descanso</label>
<input type="number" name="breaks" >seg

<button type="submit">Guardar</button>

</form>