{{#if userInSession}}

<h1 class="is-size-1 has-text-centered mb-5 yellow pt-6 mt-6">Nueva rutina</h1>


<form class="form" action="/exercise/create-exercise" method="post" enctype="multipart/form-data">

<div class="create-exercise ">

<label class="label">Ilustracion</label>
<input class="input is-warning has-text-light" type="file" name="exercise-image">

<label class="label">Ejercicio</label>
<input class="input is-warning has-text-light" type="text" name="exercise" placeholder="Nombre ejercicio" >

<label class="label">Series</label>
<input class="input is-warning has-text-light" type="number" name="series" placeholder="No.de series"  min="0" max="60">

<label class="label">Repeticiones</label>
<input class="input is-warning has-text-light" type="number" name="repetitions" placeholder="No. de repeticiones"  min="0" max="60">

<label class="label">Descanso</label>
<input class="input is-warning has-text-light" type="number" name="breaks"  placeholder="seg"  min="0" max="60">

<button class="button" type="submit">Guardar</button>
</div>
</form>

{{else}}
<div class="p-6 m-6 has-text-centered">
<img src="/images/else-new-exercise.jpg" width="800" height="800">
</div>
{{/if}}


